.mdl-grid {
  max-width: 600px;
}
.mdl-card__media {
  margin: 0;
}
.mdl-card__media > img {
  max-width: 100%;
}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

/*




.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdl-card{
  max-width: 25%;
}

@media screen and (max-width: 500px) {

  .mdl-card{
    max-width: 100%;
  }

}

.center {
    margin-left: auto;
    margin-right: auto;
}

div {
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap; 
    display: flex;  
    flex-wrap: wrap;
}







*/


